<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.spicejet.ticket.PracticeTest1"/>
      <class name="com.spicejet.ticket.PracticeTest3"/>
      <class name="com.spicejet.ticket.PracticeClass"/>
      <class name="com.spicejet.ticket.CountryDropdown"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
